:root {
  /* Base */
  --bg: #ffffff;
  --surface: #ffffff;
  --text: #373435;
  --muted: #6b7280;
  --border: #e5e7eb;

  /* Brand */
  --primary: #0A8C57;
  --primary-dark: #1F5B3D;
  --accent: #F2E94F;

  /* UI */
  --radius-lg: 20px;
  --radius-md: 14px;

  --shadow-sm: 0 8px 20px rgba(0,0,0,.08);
  --shadow-md: 0 18px 45px rgba(0,0,0,.10);
}